:root {
  --color-background: #eee;
  --color-text: #555;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: system-ui, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

#app {
  display: grid;
  grid: "aside main" 100vh / 18rem auto;
  place-items: stretch;
}

svg tspan {
  user-select: none;
  -webkit-user-select: none;
  font-weight: bold;
}

svg .available-magnet {
  stroke: #00ff4a;
  transform: scale(1.2);
  stroke-width: 3;
}

.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-leave-active {
  position: absolute;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scale(0.01);
}
